@import url('https://fonts.googleapis.com/css2?family=Rubik');

p {
    color: antiquewhite;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

body {
    background-image: url('b.png');
    background-size: cover
  
   
}

h1 {
    color: antiquewhite;
    font-family: "Rubik", sans-serif;
    font-weight: 650;
    text-align: center;

}

img {
  border-style: solid;
  border-color: cornflowerblue;
 border-radius: 6px;
}

div {
    color: antiquewhite;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}
button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px
}
